.logo {
    font-size: 24px;
    background: linear-gradient(45deg, #00ccff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto; /* Set background size */
    animation: animateLogo 5s linear infinite alternate;
    user-select: none; /* Prevent text selection */
    text-align: center;
    font-family: monospace;
}

.desc {
    font-size: 14px;
    background: linear-gradient(45deg, #00ccff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto; /* Set background size */
    animation: animateLogo 5s linear infinite alternate;
    user-select: none; /* Prevent text selection */
    text-align: center;
    font-family: monospace;
}

.title {
    font-size: 32px;
    background: linear-gradient(45deg, #00ccff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto; /* Set background size */
    animation: animateLogo 5s linear infinite alternate;
    user-select: none; /* Prevent text selection */
  text-align: center;
  font-family: monospace;
}

.rsg-small {
    font-size: 16px;
    background: linear-gradient(45deg, #ffd500, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto; /* Set background size */
    animation: animateLogo 5s linear infinite alternate;
    user-select: none; /* Prevent text selection */
  text-align: center;
  font-family: monospace;
}

.dl-rsg {
    font-size: 24px;
    background: linear-gradient(45deg, #ffd500, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto; /* Set background size */
    animation: animateLogo 5s linear infinite alternate;
    user-select: none; /* Prevent text selection */
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}

@keyframes animateLogo {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
